<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="PHARMACIES_LIST_FILE"   value="C:\Projects\Git\CSV_MinuteClinicCrawler\WorkingArea\pharmacies.txt"/>
    <add key="PHARMACIES_OUTPUT_FILE" value="C:\Projects\Git\CSV_MinuteClinicCrawler\WorkingArea\pharmacies_out"/>
    <add key="MAX_RETRIES_PER_PHARMACY" value="3"/>
  </appSettings>
</configuration>